@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Creepster&family=Hina+Mincho&family=Passions+Conflict&family=UnifrakturCook&family=UnifrakturMaguntia&display=swap');


/* .navigation {
  display: inline;
  width: 100%;
  padding-bottom: 50px;
}

.logoContainer {
  float: right;
  margin-right: 10px;
}

.home_txt {
  float: right;
  margin-right: 60px;
} */

.nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
}

.gothic-books {
  float: right;
}

.source {
  text-decoration: none;
}

.sourceContainer {
  padding-bottom: 25px;
}